/*Import das fonts já no arquivo css direto*/
/*Krona One*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
/*Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
/*Link do site https://fonts.google.com/ usado para procurar as fontes e importar*/

/*Corpo*/

/* Dando um reset na margem e no preenchimento tirando aquela margem e preenchimento altomaticos ajuda a ter um controle melhor no posicionamento dos elementos na minha página */
*{
  margin:0;
  padding: 0;
}

/*box-sizing: border-box ajuda o elemento filho a se manter sempre dentro do tamanho do elemento pai para melhor entendimento olhar está doumentação do css onde tem uma explicação visual também : https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing*/
/*Usar no Body box-sizing: border-box já que ele é o elemento pai*/
body{
  background-color: black;
  color:#F6F6F6;
  height: 100vh;
  box-sizing: border-box;
}


/*para utilização do Flex Box verificar essa documentação ela é bem simples de se entender: https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
.apresentacao{
  margin:10% 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*Quando está assim margin:10% 12%; o primeiro valor é de cima e embaixo e o segundo as laterais*/

.apresentacao__conteudo{
  width: 593px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
/*Espaçamento entre as colunas*/

.apresentacao__conteudo__titulo{
  font-size: 36px;
  font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto{
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

.titulo-destaque{
  color:#99111E;
}

.apresentacao__links{
  display:flex;
  justify-content: space-between;
}

.apresentacao__links__link{
  background-color: #22D4FD;
  width: 280px;
  text-align: center;
  border-radius: 16px;
  font-size: 24px;
  font-weight: 600;
  padding: 21.5px 0;
  text-decoration: none;
  color:#000000;
  font-family: 'Montserrat', sans-serif;
}
/*padding: 21.5px 0; ele está me dando um espaçamento de cima e embaixo de 21.5 no fazendo o texto do botão ficar a uma distancia de cima e embaixo deste valo e 0 é pra informar que na laterais eu não quero este espaçamento.
text-decoration: none; é para tirar aquela linha que fica no botão do link quando você passa o mouse em cima dela.
text-align: center alinha somente o texto para o centro
*/

/*filter: grayscale(100%); ele deixa a imagem em preto e branco*/
img{
  height: 400px;
  width: 420px;
  filter: grayscale(100%);
  border-radius: 10%;
}
