/*Corpo*/

/* Dando um reset na margem e no preenchimento tirando aquela margem e preenchimento altomaticos ajuda a ter um controle melhor no posicionamento dos elementos na minha página */
*{
  margin:0;
  padding: 0;
}

/*box-sizing: border-box ajuda o elemento filho a se manter sempre dentro do tamanho do elemento pai para melhor entendimento olhar está doumentação do css onde tem uma explicação visual também : https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing*/
/*Usar no Body box-sizing: border-box já que ele é o elemento pai*/
body{
  background-color: black;
  color:#F6F6F6;
  height: 100vh;
  box-sizing: border-box;
}


/*para utilização do Flex Box verificar essa documentação ela é bem simples de se entender: https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
.apresentacao{
  margin:10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titulo-destaque{
  color:#99111E;
}

img{
  width: 350px;
  height: 300px;
  filter: grayscale(100%);
  border-radius: 10%;
}
